<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestDemo2App">
  
  <groups>
  <run>
  <include name = "FrontAccounting"></include>
  <exclude name = "Orange"></exclude>
 </run>
 </groups>
  
  
  
  
    <classes>
      <class name="day9TestNg.Demo2App"/>
    </classes>
  </test> <!-- TestDemo2App -->
</suite> <!-- Suite -->
